---
layout: archive
title: "Fluid Flow Visualization Techniques"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}
<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>
{% endif %}

# Video: Pitching Oscillation

This video demonstrates the pitching oscillation from one of my presentations.

<video width="720" height="480" controls loop>
  <source src="https://github.com/siva-viknesh/siva-viknesh.github.io/raw/refs/heads/master/images/Pitching_oscillation.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
